# --- Frontend & Node ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Backend & Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/
*.pkl
# Un-comment the next line if you don't want to push your CSV to GitHub
# *.csv 

# --- Editor & System ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?
*.suo

# --- Environment Secrets ---
.env
.env.development
.env.local